.banner {
    color: #E40982;
}

.banner h1 {
    font-size: 3.725rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    line-height: 0.93;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.banner p { 
    max-width: 600px;
    font-size: 1rem;
    color: #6c757d;;
}