.donut-collection h2 {
    color: #ff4081;
    font-size: clamp(0.9rem, 0.9rem + ((1vw - 0.2rem) * 0.341), 1.125rem);
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0;
}

.donut-collection-title h2 {
    color: #ff4081;
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em;
    line-height: 0.93;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.donut-card {
    border: none;
}

.donut-card > img {
    border-radius: 1%;
    aspect-ratio: 3/4;
}

.donut-card .card-body {
    padding-left: 0;
    padding-right: 0;
}

.donut-title {
    font-size: 18px;
    color: #E40982;
}

.donut-price {
    font-size: 16px;
    color: #7C6E67;
}

.see-more {
    display: inline-block;
    color: #E40982;
    margin-bottom: 36px;
    font-weight: 600;
    line-height: 1.1;
    text-decoration: none;
    font-size: 16px;
}

.see-more:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .donut-collection .row {
        flex-direction: column;
        align-items: center; 
    }

    .donut-card {
        max-width: 100%;
    }

    .see-more {
        display: block;
        margin-top: 20px;
    }
}